---
layout: default
title: "404"
bodyaddon: class="bg-dark bg-topo-dark"
permalink: 404.html
---

<div class="container text-center text-light">
  {% include svg/404.svg class='image-404 m-5' %}
  <h2>Page Not Found</h2>
  <h5>Sorry, but the page you were trying to view does not exist.</h5>
  <div class="d-flex flex-column flex-sm-row justify-content-center">
    <a href="javascript:location.reload();" class="btn btn-secondary btn-lg m-2">
      <i class="mdi mdi-refresh mr-2"></i>RELOAD
    </a>
    <a href="javascript:history.back();" class="btn btn-warning btn-lg m-2">
      <i class="mdi mdi-arrow-left mr-2"></i>GO BACK
    </a>
    <a href="{{ '/' | absolute_url }}" class="btn btn-primary btn-lg m-2">
      <i class="mdi mdi-home mr-2"></i>GO HOME
    </a>
  </div>
</div>
