---
layout: default
head_additional: >
  <style>
    #main-jumbo { margin-top: -2rem; }
  </style>
---

<section id="main-jumbo" class="jumbotron rounded-0 text-center pb-4 bg-topo-light">
  <p class="lead">
    This is the {{ site.title }}, a simple and interactive website for explaining cartographic algorithms, problems and other matters.<br>
    It is aimed at students of cartography who want to refresh and deepen their knowledge.
  </p>
  <p>
    {{ site.title }} is build as part of a masterthesis at the <a class="link-underline" href="https://www.lfk.bgu.tum.de/en/home/" target="_blank" rel="noopener">Chair of Cartography</a> at the <a class="link-underline" href="https://www.tum.de/en" target="_blank" rel="noopener">Technical University of Munich</a>.
  </p>
  <p>
    Please use an up to date, modern browser like Firefox or Chrome with JavaScript enabled and SVG support to make sure all playgrounds work as intended.
  </p>
</section>

<section>
  <div class="container">
    <div class="row">

      {% for playground in site.playgrounds %}
      <!-- TODO: fix this by using responsive card when bootstrap 4.3 is released, until then: -->
      <!-- "col-lg-4 col-md-6" -> large screens: 3 cols, medium screens: 2 cols -->
      <!-- "d-flex align-items-stretch" -> display as flex and make columns stretch to equal height -->
      <!-- "flex-fill" -> make cards equal width -->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card bg-info flex-fill shadow my-3">
              <img class="card-img-top bg-white" src="{{ 'card.svg' | prepend: playground.url | absolute_url }}" alt="{{ playground.title }}">
            <div class="card-body">
              <h4 class="card-title">{{ playground.title }}</h4>
              <p class="card-text">{{ playground.description }}</p>
            </div>
            <div class="card-footer border-top-0 bg-transparent">
              <a href="{{ playground.url | absolute_url }}" class="btn btn-outline-primary btn-block text-uppercase">{{ playground.title }}</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
