<footer class="footer bg-dark text-light">
  <button type="button" class="btn btn-primary shadow-sm scroll-to-top" data-toggle="tooltip" data-placement="top" aria-label="Scroll to top" title="Scroll to top"><i class="mdi mdi-arrow-up"></i></button>
  <div class="container bg-dark py-3 py-sm-0">
    <div class="d-flex flex-column flex-sm-row justify-content-center text-center">
          <div class="list-footer"><a href="{{ '/' | absolute_url }}" class="text-light link-underline"><i class="mdi mdi-map-outline mr-1"></i>{{ site.title }}</a></div>
          <div class="list-footer d-none d-sm-inline-block no-select">|</div>
          <div class="list-footer"><a href="https://gitlab.com/MoritzBru/cartography-playground/commits/master" target="_blank" rel="noopener" class="text-light link-underline"><i class="mdi mdi-calendar-blank mr-1"></i>{{ 'now' | date: '%Y-%m-%d' }}</a></div>
          <div class="list-footer d-none d-sm-inline-block no-select">|</div>
          <div class="list-footer"><a href="{{ '/legal-notice/' | absolute_url }}" class="text-light link-underline"><i class="mdi mdi-gavel mr-1"></i>Legal Notice</a></div>
        </div>
  </div>
</footer>
