<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

  <!-- Title -->
  {%- capture headtitle %}{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}{% endcapture %}
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>

  <!-- Description -->
  {%- capture headdescription %}{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}{% endcapture %}
  <meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/favicon/apple-touch-icon.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon/favicon-32x32.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ '/favicon/android-chrome-192x192.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon/favicon-16x16.png' | absolute_url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | absolute_url }}">
  <link rel="mask-icon" href="{{ '/favicon/safari-pinned-tab.svg' | absolute_url }}" color="{{ site.theme_color }}">
  <link rel="shortcut icon" href="{{ '/favicon/favicon.ico' | absolute_url }}">
  <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
  <meta name="msapplication-config" content="{{ '/favicon/browserconfig.xml' | absolute_url }}">
  <meta name="theme-color" content="{{ site.theme_color }}">

  <!-- Open Graph -->
  <meta property="og:image" content="{{ '/assets/og-image.png' | absolute_url }}">
  <meta property="og:image:width" content="640">
  <meta property="og:image:height" content="640">
  <meta property="og:title" content="{{ headtitle }}">
  <meta property="og:description" content="{{ headdescription }}">
  <meta property="og:url" content="{{ '/' | absolute_url }}">
  <meta property="og:type" content="website">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i,700|Roboto+Slab:500" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.5.94/css/materialdesignicons.min.css" integrity="sha256-rHrTyakfHRLXh1RG/3K9UqURm2bMqE1gfzbohX3tt2I=" crossorigin="anonymous" />

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | absolute_url }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/css/style.css' | absolute_url }}">

  <!-- Additional stuff -->
  {{ page.head_additional | flatify }}
</head>
