<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    /* Config based on TeX-AMS_CHTML but without unused extensions */
    jax: ["input/TeX","output/CommonHTML"],
    extensions: ["tex2jax.js","AssistiveMML.js"],
    TeX: {
      extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
    },
    showMathMenu: false,
    showMathMenuMSIE: false
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js" integrity="sha256-GhM+5JHb6QUzOQPXSJLEWP7R73CbkisjzK5Eyij4U9w=" crossorigin="anonymous"></script>
