---
title: "Contour lines to profile"
description: "Learn how to extract height profiles from Contour lines - the representation for elevation in topographic maps."
date: 2018-03-29
tags: contour line profile height elevation
references:
  - author: "Wikipedia"
    title: "Contour line"
    date: April 2018
    link: https://en.wikipedia.org/wiki/Contour_line#Physical_geography_and_oceanography
  - author: "GISGeography"
    title: "What Do Contour Lines on a Topographic Map Show?"
    date: April 2018
    link: https://gisgeography.com/contour-lines-topographic-map/
head_additional: >
  <style>
    #map, #chart-container {height: 400px;}
    #cl2p-clear {z-index: 10;}
    .map-btn-margin {margin-top: 0.75rem;}
    @media (max-width: 400px) {
      .map-btn-margin {margin-top: 4rem;}
    }
  </style>
  {% include mapbox.html turf=true geocoder=true %}
foot_additional: >
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
  {% include googlemaps.html callback=elevation_request %}
  <script>var bingsmaps_key = "{{ site.bingmaps_key }}";</script>
  <script src="{{ 'cl2p.js' | prepend: page.url | absolute_url }}"></script>
---

<div class="row">
  <div class="col">
    <p><em>Contour lines</em> or <em>isohypses</em> are a widely used method of representing elevation in a topographic map. It can be used in combination with <em>hillshading</em> to get the realistic threedimensional look of the shaded terrain from the shading and absolut height readings from the contour lines.</p>
  </div>
</div>
<div class="row">
  <div class="col-md">
    There are different kinds of contour lines
    <p>
      <strong>Main/Major lines</strong><br>
      Multiples of the equidistance from zero level (<span class="text-primary">blue</span>)
    </p>
    <p>
      <strong>Counting lines</strong><br>
      Thicker and labeled main contour lines at "round" height values (<span class="text-warning">orange</span>)
    </p>
    <p>
      <strong>Supplementary lines</strong><br>
      Between two adjacent main contour lines for a better representation of mostly shallow terrain (<span class="text-secondary">green</span>)
    </p>
  </div>
  <div class="col-md">
    {% include_relative imgs/contour-lines.svg class="img-fluid mx-auto d-block" %}
  </div>
</div>

<h2 class="mt-5">Interpretation of contour lines</h2>
<hr>
<div class="row">
  <div class="col">
    <p>
      <strong>Spacing of contour lines</strong><br>
      The closer the contours the steeper the slope. The more distant the contours the shallower the slope.<br>
      It's very rare that contour lines touch or cross. Only when the terrain is a cliff or an overhang, contour lines can touch over cross each other.
    </p>
    <p>
      <strong>Rule of V- and U-shapes</strong><br>
      Rather sharp-pointed V- or U-shaped contours usually are in stream valleys. Water flows perpendicular to the contours. Usually the V or U is pointing upstream. At a stream junction where two V-shaped contours intersect, they form a M- or W-shape.
    </p>
    <p>
      <strong>Rule of O-shapes</strong><br>
      Closed loops are usually uphill on the inside with the innermost loop beeing the highest area.<br>
      If closed loops represent depressions, this is represented by hachures inside the loop.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      The pictures below shows some typical <span class="text-primary">elevation profiles in blue</span> and the corresponding <span class="text-warning">contour lines in orange</span>.
    </p>
    {% include_relative imgs/slopes.svg class="img-fluid mx-auto d-block" %}
  </div>
</div>

<h2 class="mt-5">Hands-On</h2>
<hr>
<div class="row mb-3">
  <div class="col">Click on the map at least two times to draw a line. The height profile along this line is then plotted automatically. Click on a path point in the map to delete it or click the <em>Clear</em> button to clear the the entire profile line.</div>
</div>

<div class="card shadow">
  <div class="card-header h5">
    Map and Elevation profile
  </div>
  <div class="card-body bg-light p-0">
    <div id="map" class="border-bottom"></div>

    <div class="d-flex justify-content-between px-3 pt-2">
      <form class="form-inline d-inline-flex">
        <label for="select_elevation">Select Elevation Service</label>
        <select class="custom-select custom-select-sm mx-1" id="select_elevation">
          <option>Google Maps</option>
          <option>Bing Maps</option>
          <option>Open-Elevation</option>
        </select>
        <span id="elevation_loading" class="mdi mdi-loading mdi-spin text-primary mx-2" style="visibility: hidden;"> Loading...</span>
      </form>
      <button type="button" id="cl2p-clear" class="btn btn-sm btn-warning">
        <i class="mdi mdi-delete mr-1"></i>Clear Path
      </button>
    </div>
    <div id="chart-container" class="my-1 px-1">
      <canvas id="chart"></canvas>
    </div>
  </div>
</div>
