.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  box-shadow: $box-shadow-up;
  @include media-breakpoint-up(sm) {
    line-height: 4rem;
  }
}
.list-footer {
  font-family: $font-family-monospace;
  font-size: .8rem;
  margin: 0 .4rem;
}

.scroll-to-top {
  position: absolute;
  height: 3rem;
  width: 3rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  border-radius: 50%;
  padding: .75rem .75rem;
  @include media-breakpoint-down(sm) {
    right: 1rem;
  }
}
