$custom-switch-indicator-border-radius:   $custom-control-indicator-size / 2 !default;
$custom-switch-indicator-icon:            str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-switch-width:                     $custom-control-indicator-size * 1.75 !default;


.custom-switch {
  padding-left: $custom-control-gutter * 1.8;

  .custom-control-label {
    &::before {
      left: $custom-control-gutter * -1.75;
      width: $custom-switch-width;
      border-radius: $custom-switch-indicator-border-radius;
    }

    &::after {
      left: $custom-control-gutter * -1.75;
      width: $custom-control-indicator-size * 1.75;
      background-image: $custom-switch-indicator-icon;
      background-position: left center;
      background-size: $custom-control-indicator-size;
      transition: background-position .1s;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-position: right center;
  }
}
